.place__image {
  display: block;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .place__image {
    width: calc(100% - 7px);
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    width: calc(100% - 8px);
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    width: calc(100% - 12px);
  }
}
