.lead__caption {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style:  normal;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 8px 0 0;
  padding: 0 16px;
  transition: all .2s linear;
}

@media screen and (min-width: 426px) {
  .lead__caption {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding: 0;
  }
}
