.place {
  margin: 0;
  padding: 50px 0 0;
  transition: all .2s linear;
}

@media screen and (min-width: 426px) {
  .place {
    margin: 0;
    padding: 75px 0 0;
  }
}

@media screen and (min-width: 767px) {
  .place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 48px 28px;
    margin: 0;
    padding: 75px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    gap: 48px 32px;
    padding: 80px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 40px;
    padding: 80px 100px 0;
  }
}
