.footer {
  padding: 64px 16px 24px;
  transition: all .2s linear;
}

@media screen and (min-width: 426px) {
  .footer {
    padding: 72px 20px 24px;
  }
}

@media screen and (min-width: 720px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 94px 48px 24px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 92px 0 24px;
  }
}
