.intro__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style:  normal;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.09375;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
}

@media screen and (min-width: 426px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.074;
  }
}
